.profile-container {
  display: flex;
  min-height: 100vh;
  background: #f5f5f5;
}

/* LEFT SIDEBAR */
.profile-sidebar {
  width: 260px;
  background: rgba(157, 145, 103, 0.6);
  padding: 30px 20px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.user-info {
  text-align: center;
  margin-bottom: 40px;
}

.avatar {
  width: 80px;
  height: 80px;
  background: rgba(157, 145, 103, 0.39);
  border-radius: 50%;
  margin: 0 auto 10px;
}

.sidebar-section h4 {
  margin-bottom: 10px;
  border-bottom: 1px solid #a58e6d;
  padding-bottom: 5px;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
}

.sidebar-section ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.sidebar-section li {
  padding: 8px 0;
  cursor: pointer;
}

.sidebar-section li.active {
  font-weight: bold;
}

/* RIGHT CONTENT */
.profile-content {
  flex: 1;
  padding: 60px;
  display: flex;
  justify-content: center;  
  align-items: flex-start;   
}


/* EDIT PROFILE BOX */
.edit-box {
  background: white;
  padding: 30px;
  border: 2px solid #7b1f00;
  max-width: 1400px;
  width: 100%;
}

.edit-box h2 {
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(113, 32, 0, 1);
  padding-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  background: #f2f2f2;
  outline: 1px solid black;
}


.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  padding: 12px 15px;
  margin-bottom: 15px;
}

.form-row input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.change-btn {
  background: #d8c9aa;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
}

.save-btn {
  width: 100%;
  background: #7b1f00;
  color: white;
  padding: 12px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
}

.form-row.split {
  display: flex;
  gap: 30px;
}

.form-row.split div {
  flex: 1;
}

.form-row.split input {
  width: 100%;
  padding: 12px 10px;
  border: none;
  background: #f2f2f2;
  outline: 1px solid black;
}

.address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #7b1f00;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.address-header h2 {
  margin: 0;
}

.add-address {
  color: #7b1f00;
  font-weight: 500;
  cursor: pointer;
}

.address-header h2{
    border-bottom: none;
}

.add-address:hover {
  text-decoration: underline;
}

/* Overlay background */
.address-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Overlay box */
.overlay-box {
  background: #f5f5f5;
  width: 900px;
  max-width: 90%;
  padding: 40px;
  border: 2px solid #7b1f00;
}

/* Header */
.overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #7b1f00;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.overlay-header h2 {
  margin: 0;
}

#cancelOverlay {
  color: #7b1f00;
  cursor: pointer;
}

.side-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.side-link:hover {
  color: #7b1f00;
}
.order-card {
  border: 1px solid #7b1f00;
  margin-bottom: 25px;
}

.order-top {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #7b1f00;
  font-weight: 500;
}

.review-link {
  color: #7b1f00;
  cursor: pointer;
}

.order-body {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.order-img {
  width: 120px;
  height: auto;
}

.order-details h3 {
  margin: 0 0 10px 0;
}

.order-details p {
  margin: 5px 0;
}

.order-actions {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.small-btn {
  background: #7b1f00;
  color: white;
  border: none;
  padding: 8px 18px;
  cursor: pointer;
  border-radius: 5px;
}

.review-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.review-box {
  background: #f5f5f5;
  width: 750px;
  max-width: 90%;
  padding: 40px;
  border: 2px solid #7b1f00;
}

.review-box h2 {
  text-align: center;
  color: #7b1f00;
  border-bottom: 2px solid #7b1f00;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.rating-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9d2bf;
  padding: 20px;
  margin-bottom: 25px;
}

.stars {
  font-size: 28px;
  cursor: pointer;
}

.star {
  color: #b5a98c;
  margin-left: 8px;
}

.star.active {
  color: #f4c430;
}

.review-text textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  resize: none;
}

.review-consent {
  margin-top: 15px;
  font-size: 12px;
}

.consent-label span {
  cursor: default;
}

.consent-label {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.4;
}

.consent-label input {
  margin: 0;
  cursor: pointer;
}

.submit-review {
  width: 100%;
  margin-top: 25px;
  background: #7b1f00;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.order-header {
  position: relative;
}

.filter-wrapper {
  position: relative;
}

.order-filter {
  color: #7b1f00;
  cursor: pointer;
  font-weight: 500;
}

.filter-dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  border: 1px solid #7b1f00;
  width: 220px;
  display: none;
  z-index: 100;
}

.filter-dropdown div {
  padding: 12px 15px;
  cursor: pointer;
  border-bottom: 1px solid #7b1f00;
}

.filter-dropdown div:hover {
  background: #f3f3f3;
}